*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: sans-serif;
}
body{
    background-color: #222222;
}
.wrapper{
    max-width: 500px;
    margin: 9px auto;
    background:linear-gradient(135deg, #00feba, #5b548a);
    color: #ffffff;
    border-radius: 15px;
    padding: 40px 30px;
    text-align: center;
} /* general container housing everything*/
 
/* search box starts here*/
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search input{           /* input box styling*/
    height: 50px;
    width: 80%;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: 16px;
    outline: none;
}
.searchIcon{
    width: 20px;
}

.error{
    color: #dc123c;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
    display: none;
}

.btn{                        /*search button styling*/
    background-color: #ffffff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}                           /*ssearch box styling ends here*/

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    /* margin-top: -10px; */
}

.details{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 40px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity , .wind{
    font-size: 25px;
    margin-top:-6px;

}
.weather{
    display: none;
}
